/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --text-color: #353430 ;
  --accent-color: #ff8dcb ;
  --brand-color: #ffc2e6 ;
  --highlight-color: #353430 ;
  --secondary-color: #353430 ;
  --secondary-color-2: #35343040 ;

  --bg-color: #fff1f7 ;
  --bg-img: url("../images/cover-image-light.png");

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430 ;
    --accent-color: #ff8dcb ;
    --brand-color: #ffc2e6 ;
    --highlight-color: #353430 ;
    --secondary-color: #353430 ;
    --secondary-color-2: #35343040 ;

    --bg-color: #fff1f7 ;
    --bg-img: url("../images/cover-image-light.png");

    --rec-decor-visibility: hidden;
  }
}