/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: "IBM Plex mono", serif;
  --bg-img: url("../images/cover-image.png");
  --bg-color: var(--color-black-1, #000028);

  --rec-decor-visibility: visible;

  --text-color: #f1b2ce;
  --brand-color: #db00ff;
  --secondary-color: #ff0070;
  --secondary-color-2: #ff007040;
  --accent-color: #ff0070;
  --highlight-color: #000028;
}